<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork"> 

          <p><span style="color:rgb(0, 119, 181); font-size:20px"><b>{{post.title}}</b></span> {{post.comment}}
          <br>{{ post.authors }}
          <br>Talk at <i>{{ post.venue }}</i>, {{ post.when }}
           {% if post.slideurl %}
            <br><a href="{{ post.slideurl }}" target="_blank" class="btn btn--success" role="button">Slides</a>
          {% endif %}
          </p>

  </article>
</div>
